<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Express Add Car Form</title>
</head>
<body>
    <h1>Add Car</h1>
    <form>
        <p>Tell Us About Your Car:</p>
        <textarea cols="30" rows="10"></textarea>
        <input type="submit" value="Submit">
    </form>
</body>
</html>