<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Survey Form</title>
</head>
<body>
    <table>
        <tr>
            <td style="font-weight: bold; text-decoration: underline">Submitted Info</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><%= form.name %></td>
        </tr>
        <tr>
            <td>Dojo Location:</td>
            <td><%= form.location %></td>
        </tr>
        <tr>
            <td>Favorie Language:</td>
            <td><%= form.language %></td>
        </tr>
        <tr>
            <td>Comment:</td>
            <td><%= form.comment %></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: right"><a href="/"><button>Go Back</button></a></td>
        </tr>
    </table>
</body>
</html>